/* SCSS Document */
/* ==============================
*  Bulk Powders MID_FE_Task
================================= */

// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body, p,
button, a,
h1 {
  font-family: "Montserrat"; 
}

body {
  margin-top: 50px;
  padding: 0;
  word-spacing: 2px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.wrapper {
  width: auto;
  max-width: 1024px;
  height: auto;
  margin: auto;
  background: #ffffff;
  padding: 0 50px 20px 50px;
}

a,
button {
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

a:focus, button:focus {
  outline: none;
}

h1, p {
  color: #000000;
}
u {
    border-bottom: 2px solid #000;
    text-decoration: none;
}

.logo {
  margin: 0 auto;
  width: auto;
  text-align: center;
  border-bottom: 2px dotted #000000;

  img {
    width: 250px;
    height: auto;
    padding: 15px 20px;
    display: inline-block;
  }
}

.header_copy {
  margin: 30px auto;
  width: auto;
  text-align: center;

  h1 {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none; 
    position: relative;
    display: inline-block;
  }
  :after {
    position: absolute;
    content: '';
    bottom: -13px;
    background: #000000;
    width: 50%;
    left: 50%;
    height: 3px;
    transform: translate(-50%);
  }
}

.body_text {
  margin: 0 auto;
  width: auto;
  
  p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 200 !important;
  }
}

.button {
  margin: 40px auto;
  width: auto;
  text-align: center;

  a {
    width: 170px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    background: #000000;
    padding: 15px 20px;
    border-radius: 50px;
    text-transform: uppercase;

    &:hover {
      background: #000000;
      color: #ffffff;
    }
  }
}